

.top-bar-div{
  display:flex;
  
}
.nav-ul{
  display: inline-flex;

  
}
.nav-li{
  text-decoration: none;
  color:black;
  padding: 10px;
}

.top--div--{
  display: flex;
  justify-content:space-between;
  
  
}

.recent-messages-container{
  display: grid;
  float: left;
  height: 600px ;  
  min-height: auto;
  width: 300px;
  
}


.message-container{
  text-align: center;
  padding-top: 50px;
}

.footer-div{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.message-preview-container{
  max-height: 50px;
  max-width: fit-content;
}

.messages-list{
  background-color:aquamarine;
  
}
.recent-messages-heading{
  padding-top: 15px;
}
